<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>

    <body>
        <header>
    <nav>
        <ul>
            <div class="pages">
                <li><a href="{{ path('app_account') }}">{{ 'app.account'|trans }}</a></li>
                <li><a href="{{ path('app_cart') }}">{{ 'app.cart'|trans }}</a></li>
                <li><a href="{{ path('app_product') }}">{{ 'app.products'|trans }}</a></li>
            </div>
            <div class="admin">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li><a href="{{ path('app_dashboard') }}">{{ 'app.dashboard'|trans }}</a></li>
                {% endif %}
            
                {% if app.user is not null %}
                    <li><a href="{{ path('app_logout') }}">{{ 'app.logout'|trans }}</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">{{ 'app.login'|trans }}</a></li>
                    <li><a href="{{ path('app_register') }}">{{ 'app.register'|trans }}</a></li>
                {% endif %}
            </div>
        </ul>
    </nav>
</header>


        {% for type, messages in app.flashes %}
            {% for msg in messages %}
                <p class="{{ type }}">
                    {{ msg }}
                </p>
            {% endfor %}
        {% endfor %}
        
        {% block body %}{% endblock %}
    </body>
</html>
